*.o
*.lo
*.la
*.al
*.libs
*.so
*.so.[0-9]*
*.a
*.pyc
*.pyo
*.rej
*.msm
*.wixobj
*.wixpdb
*.msi
*.wixlib
*.sdf
*.opensdf
*.suo
*.aps
shibsp.pc
shibsp-lite.pc
*~
*.#*
.*.swp
.DS_store
*.vcxproj.user
Makefile
Makefile.in
Debug
Release
x64
/aclocal.m4
/config.h.in
/config.h
/*.cache
/install-sh
/mkinstalldirs
/missing
/config.*
/stamp*
/Makefile.in
/Makefile
/depcomp
/configure
/libtool
/*.opt
/*.ncb
/shibboleth.spec
/.settings
/Portfile
/pkginfo
/*.gz
/*.zip
/*.bz2
/*.asc
/build-aux
/build
/Build
/Projects/VC??/adfs/adfs-lite-Debug/
/Projects/VC??/adfs/adfs-lite-Release/
/Projects/VC??/apache/mod_shib_20-Debug/
/Projects/VC??/apache/mod_shib_20-Release/
/Projects/VC??/apache/mod_shib_22-Debug/
/Projects/VC??/apache/mod_shib_22-Release/
/Projects/VC??/apache/mod_shib_24-Debug/
/Projects/VC??/apache/mod_shib_24-Release/
/Projects/VC??/fastcgi/shibauthorizer-Debug/
/Projects/VC??/fastcgi/shibauthorizer-Release/
/Projects/VC??/fastcgi/shibresponder-Debug/
/Projects/VC??/fastcgi/shibresponder-Release/
/Projects/VC??/ipch/
/Projects/VC??/.vs
/Projects/VC??/plugins/plugins-lite-Debug/
/Projects/VC??/plugins/plugins-lite-Release/
/Projects/VC??/shibsp/shibsp-lite-Debug/
/Projects/VC??/shibsp/shibsp-lite-Release/
/Projects/VC??/Shibboleth.*.opendb
/Projects/VC??/Shibboleth.*.db
/configs/apache.config
/configs/apache2.config
/configs/apache22.config
/configs/apache24.config
/configs/shibboleth.xml
/configs/shibd-*
/configs/*.logger
/doc/api
/fastcgi/shibauthorizer
/fastcgi/shibresponder
/m4/ltversion.m4
/m4/ltoptions.m4
/m4/lt~obsolete.m4
/m4/ltsugar.m4
/m4/libtool.m4
/schemas/catalog.xml
/shibd/shibd
/shibsp/config_pub.h
/shibsp/paths.h
/shibsp/stamp-h2
/util/mdquery
/util/resolvertest
/unittests/*.cpp
/unittests/shibsptest
.deps
.dirstamp
