<!-- Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an 'AS IS' BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
     implied.  See the License for the specific language governing
     permissions and limitations under the License.  -->

<?define UpgradeUUID="20B2C0E2-E377-48D2-881A-3AA29BBFE9C0"?>
<?define RootDir="V:\perforce\SP\cpp-sp\"?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
      xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
    <Package Name="Shibboleth SP V4 Windows Agent" Language="1033" Version="$(var.msiVersion)" Manufacturer="The Shibboleth Consortium" UpgradeCode="$(var.UpgradeUUID)" InstallerVersion="310">
        <SummaryInformation Description="Shibboleth SP V4 Windows Agent" Manufacturer="The Shibboleth Consortium" />
        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." AllowSameVersionUpgrades="yes" Schedule="afterInstallInitialize" />
        <MediaTemplate EmbedCab="yes" />

        <Launch Condition="UCRTBASE_DLL" Message="C run time library not installed" />

        <!-- Properties used by the installer -->

        <Property Id="ARPCONTACT" Value="contact@shibboleth.net" />
        <Property Id="ARPHELPLINK" Value="https://shibboleth.atlassian.net/wiki/spaces/spagent4" />
        <Property Id="ARPURLUPDATEINFO" Value="https://shibboleth.atlassian.net/wiki/spaces/spagent4" />
        <Property Id="ARPURLINFOABOUT" Value="http://shibboleth.net/" />
        <Property Id="ARPNOMODIFY" Value="TRUE" />

        <!-- Properties we use -->

        <Property Id="UCRTBASE_DLL" Secure="yes">
            <DirectorySearch Id="UcrtBaseSearch" Depth="0" Path="[System64Folder]">
                <FileSearch Id="UcrtSearch" Name="ucrtbase.dll" />
            </DirectorySearch>
        </Property>

        <!-- Did we squirrel away the installation dir -->
        <Property Id="OLD_INSTALLDIR" Secure="yes">
            <RegistrySearch Id="OldInstallDir" Root="HKLM" Key="SOFTWARE\Shibboleth" Name="InstallDir" Type="directory" />
        </Property>

        <!-- UPGRADINGPRODUCTCODE set in the uninstall if this is an upgrade uninstall -->

        <!-- IISMAJORVERSION if IIS installed.  TODO test -  -->
        <PropertyRef Id="IISMAJORVERSION"/>

        <!-- ALREADYINSTALLED if we are doing an upgrade -->
        <Upgrade Id="$(var.UpgradeUUID)">
            <UpgradeVersion ExcludeLanguages="yes" IncludeMaximum="yes" Maximum="127.255.255" Minimum="0.0.1" OnlyDetect="yes" Property="ALREADYINSTALLED" />
        </Upgrade>

        <!-- WIX_ACCOUNT_* -->
        <util:QueryWindowsWellKnownSIDs />

        <!-- Who will be running IIS/Apache?  If not supplied on the command line we default it to WIX_ACCOUNT_LOCALSERVICE
            <Property Id="WEBSERVER_USER" Value=""/>
        -->

        <Directory Id="opt" Name="opt">
            <Directory Id="INSTALLDIR" Name="shibboleth-sp">
                <Directory Id="etc" Name="etc">
                    <Directory Id="etcShib" Name="shibboleth-sp"/>
                </Directory>
                <Directory Id="var" Name="var">
                    <Directory Id="cache" Name="cache">
                        <Directory Id="varCacheShib" Name="shibboleth-sp"/>
                    </Directory>
                </Directory>
                <Directory Id="lib" Name="lib">
                    <Directory Id="libShib" Name="shibboleth-sp"/>
                </Directory>
            </Directory>
        </Directory>

        <Feature Id="SPV4" ConfigurableDirectory="INSTALLDIR">

            <Component Id="CreateFolders" Guid="{39682338-1733-4EA8-8F0E-4BD2E7119D36}" Condition="NOT WIX_UPGRADE_DETECTED">

            <!-- We need this line to get the KeyPath set -->
            <CreateFolder/>

                <CreateFolder Directory="etcShib">
                    <Permission User="[WIX_ACCOUNT_ADMINISTRATORS]" GenericAll="yes" />
                    <Permission User="[WIX_ACCOUNT_LOCALSYSTEM]" GenericAll="yes" />
                    <Permission User="[WIX_ACCOUNT_USERS]" GenericAll="no" />
                    <Permission User="[WEBSERVER_USER]" ReadPermission="yes" GenericRead="yes" GenericExecute="yes" Read="yes" /> -->
                </CreateFolder>

                <CreateFolder Directory="libShib">
                    <Permission User="[WIX_ACCOUNT_ADMINISTRATORS]" GenericAll="yes" />
                    <Permission User="[WIX_ACCOUNT_LOCALSYSTEM]" GenericAll="yes" />
                    <Permission User="[WIX_ACCOUNT_USERS]" GenericAll="no" />
                    <Permission User="[WEBSERVER_USER]" ReadPermission="yes" GenericRead="yes" GenericExecute="yes" Read="yes" /> -->
                </CreateFolder>

                <CreateFolder Directory="varCacheShib">
                    <Permission User="[WIX_ACCOUNT_ADMINISTRATORS]" GenericAll="yes" />
                    <Permission User="[WIX_ACCOUNT_LOCALSYSTEM]" GenericAll="yes" />
                    <Permission User="[WIX_ACCOUNT_USERS]" GenericAll="no" />
                    <Permission User="[WEBSERVER_USER]" GenericAll="yes" />
                </CreateFolder>
            </Component>

            <Component Id="SaveInstallDir" Directory = "etcShib" Bitness="always64" Guid="{8E940A9F-CD5C-4DE4-87D3-063BF33400D6}">

                <RegistryValue Id="TargetDir64" Root="HKLM" Key="SOFTWARE\Shibboleth" Name="InstallDir" Value="[INSTALLDIR]" Type="string" KeyPath="yes" />
            </Component>

            <Component Id="Config.agent" Directory = "etcShib" Guid="{4F087264-7775-443B-9F86-B09439437733}">
                <File Id="agent.ini" KeyPath="yes" Checksum="yes" Source="$(var.RootDir)\configs\agent.ini"/>
            </Component>
            <Component Id="Config.apache" Directory = "etcShib" Guid="{C372712D-9C83-4B28-A35A-5A1B0BE09141}">
                <File Id="apache24.config.in" KeyPath="yes" Checksum="yes" Source="$(var.RootDir)\configs\apache24.config.in"/>
            </Component>
            <Component Id="Config.atrchecker" Directory = "etcShib" Guid="{8AC41514-78A6-46C2-BAEA-D8966EFE383A}">
                <File Id="attrChecker.html" KeyPath="yes" Checksum="yes" Source="$(var.RootDir)\configs\attrChecker.html"/>
            </Component>
            <Component Id="Config.globalogout" Directory = "etcShib" Guid="{AF26926D-604A-4A8A-915A-CE206B953DCF}">
                <File Id="globalLogout.html" KeyPath="yes" Checksum="yes" Source="$(var.RootDir)\configs\globalLogout.html"/>
            </Component>
            <Component Id="Config.handler" Directory = "etcShib" Guid="{E9C5EB2F-624E-48A4-A493-87295A6C2DB3}">
                <File Id="handlers.ini" KeyPath="yes" Checksum="yes" Source="$(var.RootDir)\configs\handlers.ini"/>
            </Component>
            <Component Id="Config.iis" Directory = "etcShib" Guid="{6BB3FA6A-FB52-48C4-B9C8-92E2E8A2C618}">
                <File Id="iis_config.ini" KeyPath="yes" Checksum="yes" Source="$(var.RootDir)\configs\iis-config.ini"/>
            </Component>
            <Component Id="Config.locallogout" Directory = "etcShib" Guid="{CB4DBBF9-4F56-416F-BAC3-C27D4CDAEE9D}">
                <File Id="localLogout.html" KeyPath="yes" Checksum="yes" Source="$(var.RootDir)\configs\localLogout.html"/>
            </Component>
            <Component Id="Config.partialogout" Directory = "etcShib" Guid="{9FDE4718-0A65-413A-BCC0-C875530C1EB3}">
                <File Id="partialLogout.html" KeyPath="yes" Checksum="yes" Source="$(var.RootDir)\configs\partialLogout.html"/>
            </Component>
            <Component Id="Config.requestmap" Directory = "etcShib" Guid="{3B4B5BDF-84AF-4E05-9341-1501572B1FF5}">
                <File Id="request_map.xml" KeyPath="yes" Checksum="yes" Source="$(var.RootDir)\configs\request-map.xml"/>
            </Component>

            <Component Id="EventLog" Directory = "libShib" Guid="{7A23A641-C9F3-439A-BA26-265418F9B974}">
                <?if $(sys.BUILDARCH) = "x64"?>
                <File Id="NativeLogMessages" Checksum="yes" Source="$(var.RootDir)\Projects\vc22\x64\Release\NativeLogMessages.dll"/>
                <?endif?>
                <?if $(sys.BUILDARCH) = "arm"?>
                <File Id="NativeLogMessages" Checksum="yes" Source="$(var.RootDir)\Projects\vc22\ARM64\Release\NativeLogMessages.dll"/>
                <?endif?>
                <?if ($(sys.BUILDARCH) != "arm") and ($(sys.BUILDARCH) != "x64") ?>
                <File Id="NativeLogMessages" Checksum="yes" Source="$(var.RootDir)\Projects\vc22\Release\NativeLogMessages.dll"/>
                <?endif?>
                <RegistryKey Root="HKLM" Key="SYSTEM\CurrentControlSet\Services\EventLog\Shibboleth\ShibbolethSPAgent">
                    <RegistryValue Name="CategoryCount" Type="integer" Value="8" />
                    <RegistryValue Name="TypesSupported" Type="integer" Value="7" />
                    <RegistryValue Name="CategoryMessageFile" Type="string" Value="[#NativeLogMessages]" />
                    <RegistryValue Name="EventMessageFile" Type="string" Value="[#NativeLogMessages]" />
                </RegistryKey>
            </Component>

            <!-- For some reason the id/elif/endif thing isnt working -->
            <Component Id="LibFiles" Directory = "libShib" Guid="{0B2F1FE1-53A8-4F25-A01A-9EBAD9FEDC69}">
            <?if $(sys.BUILDARCH) = "x64"?>
                <File Id="IIS_x64" KeyPath="yes" Checksum="yes" Source="$(var.RootDir)\Projects\vc22\x64\Release\iis_shib4.dll"/>
            </Component>
            <Component Id="IIS_x86" Directory = "libShib" Guid="{BB3CA70D-35F7-43ED-BC69-3EC2B5AE45E8}">
                <File Id="IIS_x86" KeyPath="yes"  Name="iis_shib4_x86.dll" Checksum="yes" Source="$(var.RootDir)\Projects\vc22\Release\iis_shib4.dll"/>
            </Component>
            <Component Id="MOD_SHIB" Directory = "libShib" Guid="{E1EB5565-8429-492E-B27B-02E66B9A03CD}">
                <File Id="Mod_shib" KeyPath="yes" Checksum="yes" Source="$(var.RootDir)\Projects\vc22\x64\Release\mod_shib4.so"/>
            <?endif?>
            <?if $(sys.BUILDARCH) = "arm"?>
                <File Id="IIS_arm" KeyPath="yes" Checksum="yes" Source="$(var.RootDir)\Projects\vc22\ARM64\Release\iis_shib4.dll"/>
            <?endif?>
            <?if ($(sys.BUILDARCH) != "arm") and ($(sys.BUILDARCH) != "x64") ?>
            <!-- We do not want to build pure x86 at this time.  Whine -->
                <File Id="IIS_bogus" KeyPath="yes" Checksum="yes" Source="$(var.RootDir)\Projects\vc22\NO_SUCH_PATH\Release\iis_shib4.dll"/>
            <?endif?>
            </Component>
       </Feature>

       <CustomAction Id="InheritInstallDir" Property="INSTALLDIR" Value="[OLD_INSTALLDIR]" />
       <CustomAction Id="DefaultWebServerUser" Property="WEBSERVER_USER" Value="[WIX_ACCOUNT_LOCALSERVICE]" />


        <!--        <InstallUISequence>
             <Custom Action="InheritInstallDir" After="AppSearch" Condition="OLD_INSTALLDIR" />
             </InstallUISequence> -->
        <InstallExecuteSequence>
            <!-- inherit installationDir if there is something to inherit -->
            <Custom Action="InheritInstallDir" After="AppSearch" Condition="OLD_INSTALLDIR" />
            <!-- Default Web Server account if not specified -->
            <Custom Action="DefaultWebServerUser" After="InstallInitialize" Condition="WEBSERVER_USER = &quot;&quot;" />
        </InstallExecuteSequence>

    </Package>

</Wix>
