<configuration>
    <config>
	<add key="signatureValidationMode" value="require" />
    </config>
    <trustedSigners>
	<author name="wixtoolset">
	    <!-- We have established that the cert with this fingerprint is owned by people with check in rights to the wix github repo -->
	    <certificate fingerprint="0DB368BC1A5A9E19CC9E036B490B7C4A4D3DFB941C0781B4F22F218BE0B54986" hashAlgorithm="SHA256" allowUntrustedRoot="false" />
	</author>
    </trustedSigners>
</configuration>
