<!-- Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an 'AS IS' BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
     implied.  See the License for the specific language governing
     permissions and limitations under the License.  -->

<?define UpgradeUUID="20B2C0E2-E377-48D2-881A-3AA29BBFE9C0"?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
      xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
    <Package Name="Shibboleth SP V4 Windows Agent" Language="1033" Version="$(var.msiVersion)" Manufacturer="The Shibboleth Consortium" UpgradeCode="$(var.UpgradeUUID)" InstallerVersion="500">
        <SummaryInformation Description="Shibboleth SP V4 Windows Agent" Manufacturer="The Shibboleth Consortium" />
        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." AllowSameVersionUpgrades="yes" Schedule="afterInstallInitialize" />
        <MediaTemplate EmbedCab="yes" />

        <Launch Condition="UCRTBASE_DLL" Message="C run time library not installed" />

        <!-- Properties used by the installer -->

        <Property Id="ARPCONTACT" Value="contact@shibboleth.net" />
        <Property Id="ARPHELPLINK" Value="https://shibboleth.atlassian.net/wiki/spaces/spagent4" />
        <Property Id="ARPURLUPDATEINFO" Value="https://shibboleth.atlassian.net/wiki/spaces/spagent4" />
        <Property Id="ARPURLINFOABOUT" Value="http://shibboleth.net/" />
        <Property Id="ARPNOMODIFY" Value="TRUE" />

        <!-- Properties we use -->

        <Property Id="UCRTBASE_DLL" Secure="yes">
            <DirectorySearch Id="UcrtBaseSearch" Depth="0" Path="[System64Folder]">
                <FileSearch Id="UcrtSearch" Name="ucrtbase.dll" />
            </DirectorySearch>
        </Property>

        <!-- Did we squirrel away the installation dir -->
        <Property Id="OLD_INSTALLDIR" Secure="yes">
            <RegistrySearch Id="OldInstallDir" Root="HKLM" Key="SOFTWARE\Shibboleth" Name="InstallDir" Type="directory" />
        </Property>

        <!-- UPGRADINGPRODUCTCODE set in the uninstall if this is an upgrade uninstall -->

        <!-- IISMAJORVERSION if IIS installed.  TODO test -  -->
        <PropertyRef Id="IISMAJORVERSION"/>

        <!-- ALREADYINSTALLED if we are doing an upgrade -->
        <Upgrade Id="$(var.UpgradeUUID)">
            <UpgradeVersion ExcludeLanguages="yes" IncludeMaximum="yes" Maximum="127.255.255" Minimum="0.0.1" OnlyDetect="yes" Property="ALREADYINSTALLED" />
        </Upgrade>

        <!-- WIX_ACCOUNT_* -->
        <util:QueryWindowsWellKnownSIDs />

        <!-- Who will be running IIS/Apache?  If not supplied on the command line we default it to WIX_ACCOUNT_LOCALSERVICE
            <Property Id="WEBSERVER_USER" Value=""/>
        -->

        <Directory Id="opt" Name="opt">
            <Directory Id="INSTALLDIR" Name="shibboleth-sp">
                <Directory Id="etc" Name="etc">
                    <Directory Id="etcShib" Name="shibboleth-sp"/>
                </Directory>
                <Directory Id="var" Name="var">
                    <Directory Id="cache" Name="cache">
                        <Directory Id="varCacheShib" Name="shibboleth-sp">
                            <Directory Id="varCacheShibSessions" Name="sessions"/>
                        </Directory>
                    </Directory>
                </Directory>
                <Directory Id="lib" Name="lib">
                    <Directory Id="libShib" Name="shibboleth-sp"/>
                </Directory>
            </Directory>
        </Directory>

        <Feature Id="SPV4" ConfigurableDirectory="INSTALLDIR">

            <Component Id="CreateFolders" Guid="{39682338-1733-4EA8-8F0E-4BD2E7119D36}" Condition="NOT WIX_UPGRADE_DETECTED">

                <!-- We need this line to get the KeyPath set -->
                <CreateFolder/>

                <CreateFolder Directory="etcShib">
                    <Permission User="[WIX_ACCOUNT_ADMINISTRATORS]" GenericAll="yes" />
                    <Permission User="[WIX_ACCOUNT_LOCALSYSTEM]" GenericAll="yes" />
                    <Permission User="[WIX_ACCOUNT_USERS]" GenericAll="no" />
                    <Permission User="[WEBSERVER_USER]" ReadPermission="yes" GenericRead="yes" GenericExecute="yes" Read="yes" /> -->
                </CreateFolder>

                <CreateFolder Directory="libShib">
                    <Permission User="[WIX_ACCOUNT_ADMINISTRATORS]" GenericAll="yes" />
                    <Permission User="[WIX_ACCOUNT_LOCALSYSTEM]" GenericAll="yes" />
                    <Permission User="[WIX_ACCOUNT_USERS]" GenericAll="no" />
                    <Permission User="[WEBSERVER_USER]" ReadPermission="yes" GenericRead="yes" GenericExecute="yes" Read="yes" /> -->
                </CreateFolder>

                <CreateFolder Directory="varCacheShib">
                    <Permission User="[WIX_ACCOUNT_ADMINISTRATORS]" GenericAll="yes" />
                    <Permission User="[WIX_ACCOUNT_LOCALSYSTEM]" GenericAll="yes" />
                    <Permission User="[WIX_ACCOUNT_USERS]" GenericAll="no" />
                    <Permission User="[WEBSERVER_USER]" GenericAll="yes" />
                </CreateFolder>

                <CreateFolder Directory="varCacheShibSessions">
                    <Permission User="[WIX_ACCOUNT_ADMINISTRATORS]" GenericAll="yes" />
                    <Permission User="[WIX_ACCOUNT_LOCALSYSTEM]" GenericAll="yes" />
                    <Permission User="[WIX_ACCOUNT_USERS]" GenericAll="no" />
                    <Permission User="[WEBSERVER_USER]" GenericAll="yes" />
                </CreateFolder>

            </Component>

            <Component Id="SaveInstallDir" Directory = "etcShib" Bitness="always64" Guid="{8E940A9F-CD5C-4DE4-87D3-063BF33400D6}">
                <RegistryValue Id="TargetDir64" Root="HKLM" Key="SOFTWARE\Shibboleth" Name="InstallDir" Value="[INSTALLDIR]" Type="string" KeyPath="yes" />
            </Component>

            <Component Id="Config.agent" Directory = "etcShib" Guid="{4F087264-7775-443B-9F86-B09439437733}">
                <File Id="agent.ini" KeyPath="yes" Checksum="yes" Source="$(var.RootDir)\configs\agent.ini"/>
            </Component>
            <Component Id="Config.apache" Directory = "etcShib" Guid="{C372712D-9C83-4B28-A35A-5A1B0BE09141}">
                <File Id="apache24.config.in" KeyPath="yes" Checksum="yes" Source="$(var.RootDir)\configs\apache24.config.in"/>
            </Component>
            <Component Id="Config.handler" Directory = "etcShib" Guid="{E9C5EB2F-624E-48A4-A493-87295A6C2DB3}">
                <File Id="handlers.ini" KeyPath="yes" Checksum="yes" Source="$(var.RootDir)\configs\handlers.ini"/>
            </Component>
            <Component Id="Config.iis" Directory = "etcShib" Guid="{6BB3FA6A-FB52-48C4-B9C8-92E2E8A2C618}">
                <File Id="iis_config.ini" KeyPath="yes" Checksum="yes" Source="$(var.RootDir)\configs\iis-config.ini"/>
            </Component>
            <Component Id="Config.requestmap" Directory = "etcShib" Guid="{3B4B5BDF-84AF-4E05-9341-1501572B1FF5}">
                <File Id="request_map.xml" KeyPath="yes" Checksum="yes" Source="$(var.RootDir)\configs\request-map.xml"/>
            </Component>

            <Component Id="EventLog" Directory = "libShib" Guid="{7A23A641-C9F3-439A-BA26-265418F9B974}">
                <File Id="NativeLogMessages" Checksum="yes" Source="$(var.RootDir)\Projects\vc22\x64\Release\NativeLogMessages.dll"/>
                <RegistryKey Root="HKLM" Key="SYSTEM\CurrentControlSet\Services\EventLog\Shibboleth\ShibbolethSPAgent">
                    <RegistryValue Name="CategoryCount" Type="integer" Value="8" />
                    <RegistryValue Name="TypesSupported" Type="integer" Value="7" />
                    <RegistryValue Name="CategoryMessageFile" Type="string" Value="[#NativeLogMessages]" />
                    <RegistryValue Name="EventMessageFile" Type="string" Value="[#NativeLogMessages]" />
                </RegistryKey>
            </Component>

            <Component Id="shib64.ico" Directory = "etcShib" Bitness="always64" Guid="{ECDF6D42-5AC2-4029-8263-986362C8255D}" >
	        <File Id="shib64.ico" KeyPath="yes" Source="$(var.RootDir)\msi\shib.ico" />
                <RegistryValue Id="DisplayIcon64" Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Uninstall\[ProductCode]"
			       Name="DisplayIcon" Value="[#shib64.ico],0" Type="string" />
            </Component>

            <!-- For some reason the id/elif/endif thing isnt working -->
            <Component Id="IIS_x64" Directory = "libShib" Guid="{0B2F1FE1-53A8-4F25-A01A-9EBAD9FEDC69}">
                <File Id="IIS_lib" KeyPath="yes" Checksum="yes" Source="$(var.RootDir)\Projects\vc22\x64\Release\iis_shib4.dll"/>
            </Component>
            <Component Id="IIS_ARM64" Directory = "libShib" Guid="{DA7E0866-3D4F-4C19-9F16-AFBDFA01B68C}">
                <File Id="IIS_arm64_lib" KeyPath="yes" Name="iis_shib4_arm64.dll" Checksum="yes" Source="$(var.RootDir)\Projects\vc22\ARM64\Release\iis_shib4.dll"/>
            </Component>
            <Component Id="IIS_x86" Directory = "libShib" Guid="{BB3CA70D-35F7-43ED-BC69-3EC2B5AE45E8}">
                <File Id="IIS_x86_lib" KeyPath="yes"  Name="iis_shib4_x86.dll" Checksum="yes" Source="$(var.RootDir)\Projects\vc22\Release\iis_shib4.dll"/>
            </Component>
            <Component Id="MOD_SHIB" Directory = "libShib" Guid="{E1EB5565-8429-492E-B27B-02E66B9A03CD}">
                <File Id="Mod_shib" KeyPath="yes" Checksum="yes" Source="$(var.RootDir)\Projects\vc22\x64\Release\mod_shib4.so"/>
            </Component>
       </Feature>

       <CustomAction Id="InheritInstallDir" Property="INSTALLDIR" Value="[OLD_INSTALLDIR]" />
       <CustomAction Id="DefaultWebServerUser" Property="WEBSERVER_USER" Value="[WIX_ACCOUNT_LOCALSERVICE]" />
       <CustomAction Id="IISWebServerUser" Property="WEBSERVER_USER" Value="DefaultAppPool" />

       <!-- IIS install/uninstall -->
       <CustomAction Id="QtIISInstall" DllEntry="WixQuietExec" Execute="deferred" Impersonate="no" BinaryRef="Wix4UtilCA_$(sys.BUILDARCHSHORT)" />
       <CustomAction Id="SetIISInstall" Property="QtIISInstall"
                     Value="&quot;[WindowsFolder]\System32\InetSrv\appcmd.exe&quot; install module /name:ShibNative /image:&quot;[#IIS_lib]&quot; /precondition:&quot;bitness64&quot;"/>

       <!-- Note that further testing shows that the delete before uninstall may not always be needed, but doing it is benign -->
       <CustomAction Id="QtIISDelete" DllEntry="WixQuietExec" Execute="deferred" Impersonate="no" BinaryRef="Wix4UtilCA_$(sys.BUILDARCHSHORT)" Return="ignore"/>
       <CustomAction Id="SetIISDelete" Property="QtIISDelete"
                     Value="&quot;[WindowsFolder]\System32\InetSrv\appcmd.exe&quot; delete module ShibNative" />
       <CustomAction Id="QtIISUnInstall" DllEntry="WixQuietExec" Execute="deferred" Impersonate="no" BinaryRef="Wix4UtilCA_$(sys.BUILDARCHSHORT)" Return="ignore"/>
       <CustomAction Id="SetIISUnInstall" Property="QtIISUnInstall"
                     Value="&quot;[WindowsFolder]\System32\InetSrv\appcmd.exe&quot; uninstall module ShibNative" />

       <InstallExecuteSequence>
           <!-- inherit installationDir if there is something to inherit -->
           <Custom Action="InheritInstallDir" After="AppSearch" Condition="OLD_INSTALLDIR" />
           <!-- Default Web Server account if not specified -->
           <Custom Action="DefaultWebServerUser" After="InstallInitialize" Condition="(WEBSERVER_USER = &quot;&quot;) AND NOT IISMAJORVERSION" />
           <Custom Action="IISWebServerUser" After="InstallInitialize" Condition="(WEBSERVER_USER = &quot;&quot;) AND IISMAJORVERSION" />

           <!-- IIS Install -->
           <Custom Action="SetIISInstall" Before="InstallFiles" Condition="(NOT Installed) AND IISMAJORVERSION"/>
           <Custom Action="QtIISInstall" After="InstallFiles" Condition="(NOT Installed) AND IISMAJORVERSION"/>

           <!-- IIS Uninstall -->

           <Custom Action="SetIISDelete" Before="StopServices"/>
           <Custom Action="SetIISUnInstall" Before="StopServices"/>
           <Custom Action="QtIISDelete" After="StopServices"
		   Condition="Installed AND IISMAJORVERSION AND (REMOVE=&quot;ALL&quot;) AND (NOT UPGRADINGPRODUCTCODE)"/>
           <Custom Action="QtIISUnInstall" After="QtIISDelete"
		   Condition="Installed AND IISMAJORVERSION AND (REMOVE=&quot;ALL&quot;) AND (NOT UPGRADINGPRODUCTCODE)"/>

           <ScheduleReboot Before="InstallFinalize" Condition="(NOT Installed) AND IISMAJORVERSION" />
      </InstallExecuteSequence>

    </Package>

</Wix>
