<?xml version='1.0' encoding='UTF-8'?>

<!-- Licensed to the University Corporation for Advanced Internet
   Development, Inc. (UCAID) under one or more contributor license
   agreements.  See the NOTICE file distributed with this work for
   additional information regarding copyright ownership. The UCAID
   licenses this file to You under the Apache License, Version 2.0
   (the "License"); you may not use this file except in compliance
   with the License.  You may obtain a copy of the License at
 
     http://www.apache.org/licenses/LICENSE-2.0
 
   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
   implied.  See the License for the specific language governing
   permissions and limitations under the License.  -->

<?include ..\Versions.wxi ?>
<?define LibEay32Component='{1DE4C235-0F1E-41EF-B7B8-9F3FD03A8F26}' ?>
<?define SSlEay32Component='{9D0D75C3-69B6-4A29-9890-EF3DD939B6CA}' ?>
<?define LibEay32Componentd='{53BCB6F4-77DC-4B6C-9798-EC10796D3C59}' ?>
<?define SSlEay32Componentd='{A9583DF6-F075-4F43-991C-3611B31036DF}' ?>

<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
  <Module Id='OpenSSLMergeModule_x86' Language='1033' Version='$(var.OpenSSLVersion)'>
    <Package Id='11FD68EE-607E-4755-98AA-1C7EE5E03652' Description='Merge Module for OpenSSL (x86)'
             Comments='This module is built by the Shibboleth Consortium. Includes libeay32 and ssleay32.'
             Manufacturer='Shibboleth Consortium' InstallerVersion='300' Platform='x86'/>
    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFilesFolder' Name='ProgramFiles'>
        <Directory Id='shibboleth' Name='Shibboleth'>
          <Directory Id='shibboleth_sp' Name='SP'>
            <Directory Id='lib' Name='lib' FileSource='$(var.BuildDirectory)\openssl-$(var.OpenSSLDirVersion)\out32dll\'>
              <Component Id='libeay32.dll' Guid='$(var.LibEay32Component)'>
                <File KeyPath='yes' Checksum='yes' Name='libeay32_$(var.OpenSSLFileVersion).dll' />
              </Component>
              <Component Id='ssleay32.dll' Guid='$(var.SSlEay32Component)'>
                <File KeyPath='yes' Checksum='yes' Name='ssleay32_$(var.OpenSSLFileVersion).dll' />
              </Component>
              <Component Id='openssl.exe' Guid='{886F0254-AD10-45C6-A723-37C7FA466651}'>
                <File KeyPath='yes' Checksum='yes' Name='openssl.exe' />
              </Component>
              <Directory Id='lib_debug' Name='debug' FileSource='$(var.BuildDirectory)\openssl-$(var.OpenSSLDirVersion)\out32dll.dbg\' >
                <Component Id='libeay32D.dll' Guid='$(var.LibEay32Componentd)'>
                  <File KeyPath='yes' Checksum='yes' Name='libeay32_$(var.OpenSSLFileVersion)D.dll' />
                </Component>
                <Component Id='ssleay32D.dll' Guid='$(var.SSlEay32Componentd)'>
                  <File KeyPath='yes' Checksum='yes' Name='ssleay32_$(var.OpenSSLFileVersion)D.dll' />
                </Component>
                <Component Id='openssl.exe_debug' Guid='{D47E4692-F648-4800-BE4A-9D84DAD5DEEA}'>
                  <File Id='openssl.exe_debug' KeyPath='yes' Checksum='yes' Name='openssl.exe' />
                </Component>
              </Directory><!-- lib_debug-->
            </Directory><!-- lib -->
            <Directory Id='doc' Name='doc'>
              <Component Id='OPENSSL.LICENSE' Guid='{CEC1CC66-6D48-475A-8C99-B687B0B901AA}'>
                <File KeyPath='yes' Name='OPENSSL.LICENSE' Source='$(var.BuildDirectory)\openssl-$(var.OpenSSLDirVersion)\LICENSE' />
              </Component>
            </Directory><!-- doc -->
          </Directory><!-- shibboleth_sp -->
        </Directory><!-- shibboleth -->
      </Directory><!-- ProgramFilesFolder -->
    </Directory><!-- TARGETDIR -->
  </Module>
</Wix>    
