<?xml version='1.0' encoding='utf-8'?>

<!-- Licensed to the University Corporation for Advanced Internet
   Development, Inc. (UCAID) under one or more contributor license
   agreements.  See the NOTICE file distributed with this work for
   additional information regarding copyright ownership. The UCAID
   licenses this file to You under the Apache License, Version 2.0
   (the "License"); you may not use this file except in compliance
   with the License.  You may obtain a copy of the License at
 
     http://www.apache.org/licenses/LICENSE-2.0
 
   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
   implied.  See the License for the specific language governing
   permissions and limitations under the License.  -->

<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
  <Product Id='C59417F2-CCCA-4668-A39E-E7227D295D59' Name='Test Package1' Language='1033' UpgradeCode='{948E0C71-CC50-48C0-83F6-4D261A7521CA}'
           Version='1.0.0.0' Manufacturer='Shibboleth Consortium' >
    <Package Description='TEST Windows Installer package'
             Comments='Ignore Ignore Ignore Ignore' Platform='x64'
             Manufacturer='Shibboleth Consortium' InstallerVersion='405' Compressed='yes' />

    <Media Id='1' Cabinet='product.cab' EmbedCab='yes' />
    <!-- Files -->
    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFilesFolder' >
        <Merge Id='OpenSSL-32' Language='1033' SourceFile='.\OpenSSL-x86.msm' DiskId='1' />
<!--        <Merge Id='OpenSAML-32' Language='1033' SourceFile='.\OpenSAML-x86.msm' DiskId='1' />  -->
        <Merge Id='OpenSAML-schemas' Language='1033' SourceFile='.\OpenSAML-schemas.msm' DiskId='1' />
<!--        <Merge Id='XmlTooling-32' Language='1033' SourceFile='.\XmlTooling-x86.msm' DiskId='1' /> -->
        <Merge Id='XmlTooling-Schemas' Language='1033' SourceFile='.\XmlTooling-schemas.msm' DiskId='1' />
        <Merge Id='Curl-32' Language='1033' SourceFile='.\Curl-x86.msm' DiskId='1' />
        <Merge Id='FastCGI-32' Language='1033' SourceFile='.\FastCGI-x86.msm' DiskId='1' />
        <Merge Id='Log4Shib-32' Language='1033' SourceFile='.\Log4Shib-x86.msm' DiskId='1' />
        <Merge Id='Shibboleth-32' Language='1033' SourceFile='.\Shibboleth-x86.msm' DiskId='1' />
        <Merge Id='Xerces-32' Language='1033' SourceFile='.\Xerces-x86.msm' DiskId='1' />
        <Merge Id='XmlSec-32' Language='1033' SourceFile='.\XmlSec-x86.msm' DiskId='1' />
        <Merge Id='Zlib-32' Language='1033' SourceFile='.\Zlib-x86.msm' DiskId='1' />
      </Directory>
      <Directory Id='ProgramFiles64Folder' >
        <Merge Id='OpenSSL-64' Language='1033' SourceFile='.\OpenSSL-x64.msm' DiskId='1' />
        <Merge Id='OpenSAML-64' Language='1033' SourceFile='.\OpenSAML-x64.msm' DiskId='1' />
        <Merge Id='Curl-64' Language='1033' SourceFile='.\Curl-x64.msm' DiskId='1' />
        <Merge Id='FastCGI-64' Language='1033' SourceFile='.\FastCGI-x64.msm' DiskId='1' />
        <Merge Id='Log4Shib-64' Language='1033' SourceFile='.\Log4Shib-x64.msm' DiskId='1' />
        <Merge Id='Shibboleth-64' Language='1033' SourceFile='.\Shibboleth-x64.msm' DiskId='1' />
        <Merge Id='Xerces-64' Language='1033' SourceFile='.\Xerces-x64.msm' DiskId='1' />
        <Merge Id='XmlSec-64' Language='1033' SourceFile='.\XmlSec-x64.msm' DiskId='1' />
        <Merge Id='XmlTooling-64' Language='1033' SourceFile='.\XmlTooling-x64.msm' DiskId='1' />
        <Merge Id='Zlib-64' Language='1033' SourceFile='.\Zlib-x64.msm' DiskId='1' />
      </Directory>
    </Directory>

    <!-- Feature -->
    <Feature Id='MyFeature' Title='My 1st Feature' Level='1'>
      <MergeRef Id='OpenSSL-32'/>
      <MergeRef Id='OpenSSL-64'/>
<!--      <MergeRef Id='OpenSAML-32'/> -->
      <MergeRef Id='OpenSAML-schemas'/>
      <MergeRef Id='OpenSAML-64'/>
      <MergeRef Id='Curl-32'/>
      <MergeRef Id='Curl-64'/>
      <MergeRef Id='FastCGI-32'/>
      <MergeRef Id='FastCGI-64'/>
      <MergeRef Id='FastCGI-32'/>
      <MergeRef Id='FastCGI-64'/>
      <MergeRef Id='Log4Shib-32'/>
      <MergeRef Id='Log4Shib-64'/>
      <MergeRef Id='Shibboleth-32'/>
      <MergeRef Id='Shibboleth-64'/>
      <MergeRef Id='Xerces-32'/>
      <MergeRef Id='Xerces-64'/>
      <MergeRef Id='XmlSec-32'/>
      <MergeRef Id='XmlSec-64'/>
<!--      <MergeRef Id='XmlTooling-32'/>  -->
      <MergeRef Id='XmlTooling-Schemas'/> 
      <MergeRef Id='XmlTooling-64'/>
      <MergeRef Id='Zlib-32'/>
      <MergeRef Id='Zlib-64'/>
    </Feature>
  </Product>
</Wix>
