<?xml version='1.0' encoding='UTF-8'?>

<!-- Licensed to the University Corporation for Advanced Internet
     Development, Inc. (UCAID) under one or more contributor license
     agreements.  See the NOTICE file distributed with this work for
     additional information regarding copyright ownership. The UCAID
     licenses this file to You under the Apache License, Version 2.0
     (the "License"); you may not use this file except in compliance
     with the License.  You may obtain a copy of the License at
     
     http://www.apache.org/licenses/LICENSE-2.0
     
     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
     implied.  See the License for the specific language governing
     permissions and limitations under the License.  -->

<?define BuildDirectory='G:\Downloads\shib\' ?>
<?define XmlSecVersion='1.6.0' ?> <!-- 1.0.0a -->
<?define XmlSecFileVersion='1_6' ?>

<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
  <Module Id='XmlSecMergeModule_x86' Language='1033' Version='$(var.XmlSecVersion)'>
    <Package Id='{D1678DAE-81D9-4756-ABE6-7D1218F0D350}' Description='Merge Module for XmlSec'
             Comments='This module is built by the Shibboleth Consortium. Includes Several excutables.'
             Manufacturer='Shibboleth Consortium' InstallerVersion='200' Platform='x86'/>

    <!-- For now just install this where it is put we expect to go into lib and lib\debug below.  
         At a a later date, we may chose to make this a placed module  -->

    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFilesFolder' Name='ProgramFiles'>
        <Directory Id='shibboleth' Name='Shibboleth'>
          <Directory Id='shibboleth_SP' Name='SP'>
            <Directory Id='lib' Name='lib'>
              <!-- GUID taken from 2.4.3 installer -->
              <Component Id='xsec_1_4_0.dll' Guid='{8920023D-92CA-4012-8BF8-6D80D791375D}'>
                <File KeyPath='yes'
                      Source='$(var.BuildDirectory)\xml-security-c-$(var.XmlSecVersion)\Build\Win32\VC10\Release No Xalan\xsec_$(var.XmlSecFileVersion).dll'/>
              </Component>
              <Component Id='c14n.exe' Guid='{576EB311-AADA-49D3-B444-7EDC37C715F3}'>
                <File KeyPath='yes' 
                      Source='$(var.BuildDirectory)\xml-security-c-$(var.XmlSecVersion)\Build\Win32\VC10\Release No Xalan\c14n.exe'/>
              </Component>
              <Component Id='checksig.exe' Guid='{F0C2B97A-7B93-4CD3-9432-E5904D337815}'>
                <File KeyPath='yes' 
                      Source='$(var.BuildDirectory)\xml-security-c-$(var.XmlSecVersion)\Build\Win32\VC10\Release No Xalan\checksig.exe'/>
              </Component>
              <Component Id='cipher.exe' Guid='{654BB761-7B9D-4766-AC5F-DC174E7B94AE}'>
                <File KeyPath='yes' 
                      Source='$(var.BuildDirectory)\xml-security-c-$(var.XmlSecVersion)\Build\Win32\VC10\Release No Xalan\cipher.exe'/>
              </Component>
              <Component Id='siginf.exe' Guid='{1B278BD9-6507-4613-9315-8D47CAEBC3D8}'>
                <File KeyPath='yes' 
                      Source='$(var.BuildDirectory)\xml-security-c-$(var.XmlSecVersion)\Build\Win32\VC10\Release No Xalan\siginf.exe'/>
              </Component>
              <Component Id='templatesign.exe' Guid='{A24CD56C-F615-406E-B4E2-4AC5EAE99206}'>
                <File KeyPath='yes' 
                      Source='$(var.BuildDirectory)\xml-security-c-$(var.XmlSecVersion)\Build\Win32\VC10\Release No Xalan\templatesign.exe'/>
              </Component>
              <Component Id='txfmout.exe' Guid='{667DD190-335B-4AB7-BBA5-25B5F847F363}'>
                <File KeyPath='yes' 
                      Source='$(var.BuildDirectory)\xml-security-c-$(var.XmlSecVersion)\Build\Win32\VC10\Release No Xalan\txfmout.exe'/>
              </Component>
              <Directory Id='lib_debug' Name='debug'>
                <Component Id='xsec_1_4_0D.dll' Guid='{9FF121C0-9C75-428E-A8A2-5DD0F499CA73}'>
                  <File KeyPath='yes'
                        Source='$(var.BuildDirectory)\xml-security-c-$(var.XmlSecVersion)\Build\Win32\VC10\Debug No Xalan\xsec_$(var.XmlSecFileVersion)D.dll'/>
                </Component>
                <Component Id='c14n.exe2' Guid='{20506FEA-CCFF-46A2-9753-DBBA8A967003}'>
                  <File Id='c14n.exe_debug' KeyPath='yes'
                        Source='$(var.BuildDirectory)\xml-security-c-$(var.XmlSecVersion)\Build\Win32\VC10\Debug No Xalan\c14n.exe'/>
                </Component>
                <Component Id='checksig.exe6' Guid='{6C2A1FC2-73F0-4EAE-A2CA-9C27A102E460}'>
                  <File Id='checksig.exe_debug' KeyPath='yes'
                        Source='$(var.BuildDirectory)\xml-security-c-$(var.XmlSecVersion)\Build\Win32\VC10\Debug No Xalan\checksig.exe'/>
                </Component>
                <Component Id='cipher.exe4' Guid='{BE90D2A6-0776-4E48-87F2-6DDE79D8E167}'>
                  <File Id='cipher.exe_debug' KeyPath='yes'
                        Source='$(var.BuildDirectory)\xml-security-c-$(var.XmlSecVersion)\Build\Win32\VC10\Debug No Xalan\cipher.exe'/>
                </Component>
                <Component Id='siginf.exe5' Guid='{D94E92D1-7B48-4FB2-A2B7-CC253FE27B7F}'>
                  <File Id='siginf.exe_debug' KeyPath='yes'
                        Source='$(var.BuildDirectory)\xml-security-c-$(var.XmlSecVersion)\Build\Win32\VC10\Debug No Xalan\siginf.exe'/>
                </Component>
                <Component Id='templatesign.exe3' Guid='{5E8264B4-D759-4502-B989-5A5C56FBD875}'>
                  <File Id='templatesign.exe_debug' KeyPath='yes'
                        Source='$(var.BuildDirectory)\xml-security-c-$(var.XmlSecVersion)\Build\Win32\VC10\Debug No Xalan\templatesign.exe'/>
                </Component>
                <Component Id='txfmout.exe1' Guid='{FCBFBCAA-5C39-470A-BD58-E558C384898D}'>
                  <File Id='txfmout.exe_debug' KeyPath='yes'
                        Source='$(var.BuildDirectory)\xml-security-c-$(var.XmlSecVersion)\Build\Win32\VC10\Debug No Xalan\txfmout.exe'/>
                </Component>
              </Directory><!-- lib_debug-->
            </Directory><!-- lib -->
          </Directory><!-- shibboleth_sp -->
        </Directory><!-- shibboleth -->
      </Directory><!-- ProgramFilesFolder -->
    </Directory><!-- TARGETDIR -->
  </Module>
</Wix> 

  
