<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <PatchCreation
        Id="{B49B7607-87C9-4E2A-A3F2-13CED629B37A}"
        CleanWorkingFolder="yes"
        OutputPath="patch.pcp"
        WholeFilesOnly="yes"
        >

    <!-- Information oput into the summary (Details) field -->
 
        <PatchInformation 
            Description="Security Patch for Shibboleth SP 2.5.1 (x64)"
            Comments="Provides OpenSAML 2.5.2, curl 7.29.0, OpenSSL 1.0.1e"
            ShortNames="no" 
            Languages="1033" 
            Compressed="yes" 
            Manufacturer="Shibboleth Consortium"/>
 
    <!-- Recommended values for 'Classification' are
         Critical Update, Hotfix, Security Rollup, Security Update, Service Pack, Update, Update Rollup. 

         DisplayName goes into the Name Column for "View installed updates" in control panel's "Porgram and Feature".
      -->

        <PatchMetadata
            AllowRemoval="yes"
            Description="Security Patch for Shibboleth SP 2.5.1 (x64)"
            ManufacturerName="Shibboleth Consortium"
            TargetProductName="Shibboleth SP"
            MoreInfoURL="http://www.shibboleth.net/"
            Classification="Security Rollup"
            DisplayName="Security Patch for Shibboleth SP 2.5.1 28-Feb-2013"/>
 
    <!-- Note:
         That SequenceStart must be greater than the last
         sequence in the File table in the target package or the patch
         will not install. -->


        <Family DiskId="5000"
            MediaSrcProp="Sample" 
            Name="Sample"
            SequenceStart="5000">
            <UpgradeImage SourceFile="C:\Users\Administrator\Shibboleth\AdminInstalls\Original-2.5.1-x64\shibboleth-sp-2.5.1-win64.msi" Id="Upgrade">
                <TargetImage SourceFile="C:\Users\Administrator\Shibboleth\AdminInstalls\Patched-2.5.1-x64\shibboleth-sp-2.5.1-win64.msi" Order="2"      
                    Id="Target" IgnoreMissingFiles="no" />
            </UpgradeImage>
        </Family> 
    <!-- Supersede:  Set this value to 'yes' to indicate that this patch will
         supersede all previous patches in this patch family.  The
         default value is 'no'. 
         
         PatchFamily is the version of patch - nothing to do with the version of Shibboleth Installed
      -->

        <PatchSequence PatchFamily="ShibbolethSPPatchFamily"
            Sequence="1.0.0.0"
            Supersede="yes" />
 
    </PatchCreation>
</Wix>
