<?xml version='1.0' encoding='utf-8'?>

<!-- Licensed to the University Corporation for Advanced Internet
   Development, Inc. (UCAID) under one or more contributor license
   agreements.  See the NOTICE file distributed with this work for
   additional information regarding copyright ownership. The UCAID
   licenses this file to You under the Apache License, Version 2.0
   (the 'License'); you may not use this file except in compliance
   with the License.  You may obtain a copy of the License at
 
     http://www.apache.org/licenses/LICENSE-2.0
 
   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an 'AS IS' BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
   implied.  See the License for the specific language governing
   permissions and limitations under the License.  -->

<?include Versions.wxi ?>

<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
  <!-- This is where we put all executables & so & dlls which make up the SP X86 installer -->
  <Fragment>
    <!-- Configuration, licenses and documentation -->
    <DirectoryRef Id='INSTALLDIR'>
      <Directory Id='bin' Name='bin' FileSource='$(var.SPBuildDirectory)\cpp-sp\Release' >
        <Component Id='resolvertest.exe' Guid='{D381B6FA-2971-457B-804E-F08DD517866F}'>
          <File KeyPath='yes' Checksum='yes' Name='resolvertest.exe' />
        </Component>
        <Component Id='mdquery.exe' Guid='{5F322597-3B26-48E5-95BA-CF991CF6D6DB}'>
          <File KeyPath='yes' Checksum='yes' Name='mdquery.exe' />
        </Component>
        <Directory Id='bin_debug' Name='debug' FileSource='$(var.SPBuildDirectory)\cpp-sp\Debug' >
          <Component Id='resolvertest.exe_debug' Guid='{4FA03A33-961A-42E5-8D7A-5F2E207757DD}'>
            <File KeyPath='yes' Checksum='yes' Id='resolvertest.exe_debug' Name='resolvertest.exe' />
          </Component>
          <Component Id='mdquery.exe_debug' Guid='{C7A4A6A5-3DAF-4254-9C29-1511AB3ABC62}'>
            <File KeyPath='yes' Checksum='yes' Id='mdquery.exe_debug' Name='mdquery.exe' />
          </Component>
        </Directory><!-- bin_debug -->
      </Directory><!-- bin -->
      <Directory Id='lib' Name='lib' >
        <Directory Id='lib_shibboleth' Name='shibboleth' FileSource='$(var.SPBuildDirectory)\cpp-sp\Release' >
          <Component Id='adfs.so' Guid='{9C92C803-E905-4B43-8723-05678DC73B88}'>
            <File KeyPath='yes' Checksum='yes' Name='adfs.so' />
          </Component>
          <Component Id='adfs_lite.so' Guid='{EDFA1AD0-1D4A-4D51-B2F0-6C779059FA78}'>
            <File KeyPath='yes' Checksum='yes' Name='adfs-lite.so' />
          </Component>
          <Component Id='isapi_shib.dll' Guid='{716D6F4F-4185-4219-B1BA-1D15F867926E}'>
            <File KeyPath='yes' Checksum='yes' Name='isapi_shib.dll' />
          </Component>
          <Component Id='mod_shib_13.so' Guid='{5C85940B-7644-4AA4-9948-9EFFC1729EFB}'>
            <File KeyPath='yes' Checksum='yes' Name='mod_shib_13.so' />
          </Component>
          <Component Id='mod_shib_20.so' Guid='{FFC2D560-FD06-42BB-9EA7-B0CC988AC4A6}'>
            <File KeyPath='yes' Checksum='yes' Name='mod_shib_20.so' />
          </Component>
          <Component Id='mod_shib_22.so' Guid='{BB889066-3EF2-43C5-BC4D-CD6B1DC4AE7B}'>
            <File KeyPath='yes' Checksum='yes' Name='mod_shib_22.so' />
          </Component>
          <Component Id='mod_shib_24.so' Guid='{8CAE4DF0-C8A8-4A48-A213-F4B3AFE6F439}'>
            <File KeyPath='yes' Checksum='yes' Name='mod_shib_24.so' />
          </Component>
          <Component Id='nsapi_shib.dll' Guid='{F199DD8A-292F-4C7D-AACB-7283852D6335}'>
            <File KeyPath='yes' Checksum='yes' Name='nsapi_shib.dll' />
          </Component>
          <Component Id='odbc_store.so' Guid='{807FBD34-6E59-4BFD-975D-AD7B381F2A7E}'>
            <File KeyPath='yes' Checksum='yes' Name='odbc-store.so' />
          </Component>
          <Component Id='plugins.so' Guid='{F738E29B-903B-4C86-BE27-4C72EC69915E}'>
            <File KeyPath='yes' Checksum='yes' Name='plugins.so' />
          </Component>
          <Component Id='plugins_lite.so' Guid='{FF18A6B4-EDC7-4A9A-8BFE-C166DCE5243E}'>
            <File KeyPath='yes' Checksum='yes' Name='plugins-lite.so' />
          </Component>
          <Component Id='shibauthorizer.exe' Guid='{7C7C1C24-902A-4003-AE59-599E79161782}'>
            <File KeyPath='yes' Checksum='yes' Name='shibauthorizer.exe' />
          </Component>
          <Component Id='shibresponder.exe' Guid='{510267D9-61F2-47EF-99D2-CB3D21CB14EB}'>
            <File KeyPath='yes' Checksum='yes' Name='shibresponder.exe' />
          </Component>
          <Directory Id='lib_shibboleth_debug' Name='debug' FileSource='$(var.SPBuildDirectory)\cpp-sp\Debug' >
            <Component Id='adfs.so_debug' Guid='{9B8E071F-B251-4373-A786-8966FD0D22EF}'>
              <File KeyPath='yes' Checksum='yes' Id='adfs.so_debug' Name='adfs.so' />
            </Component>
            <Component Id='adfs_lite.so_debug' Guid='{680F510A-FFDA-4AE2-8C5D-DD9D62C90DDC}'>
              <File KeyPath='yes' Checksum='yes' Id='adfs_lite.so_debug' Name='adfs-lite.so' />
            </Component>
            <Component Id='isapi_shib.dll_debug' Guid='{F8212D30-0BA8-4F02-B595-E8E5D312342B}'>
              <File KeyPath='yes' Checksum='yes' Id='isapi_shib.dll_debug' Name='isapi_shib.dll' />
            </Component>
            <Component Id='mod_shib_13.so_debug' Guid='{E8B798AB-D772-428D-8033-2A77CB437CF0}'>
              <File KeyPath='yes' Checksum='yes' Id='mod_shib_13.so_debug' Name='mod_shib_13.so' />
            </Component>
            <Component Id='mod_shib_20.so_debug' Guid='{468806BF-6924-47D5-B319-608C2D63FDDC}'>
              <File KeyPath='yes' Checksum='yes' Id='mod_shib_20.so_debug' Name='mod_shib_20.so' />
            </Component>
            <Component Id='mod_shib_22.so_debug' Guid='{3DA4492F-C0EA-4286-9C37-13F82342FA67}'>
              <File KeyPath='yes' Checksum='yes' Id='mod_shib_22.so_debug' Name='mod_shib_22.so' />
            </Component>
            <Component Id='mod_shib_24.so_debug' Guid='{E04003DF-8C61-4C9E-87AB-89223C5E65DC}'>
              <File KeyPath='yes' Checksum='yes' Id='mod_shib_24.so_debug' Name='mod_shib_24.so'/>
            </Component>
            <Component Id='nsapi_shib.dll_debug' Guid='{492A5D72-4FE0-417E-9023-311E1BF34816}'>
              <File KeyPath='yes' Checksum='yes' Id='nsapi_shib.dll_debug' Name='nsapi_shib.dll' />
            </Component>
            <Component Id='odbc_store.so_debug' Guid='{F217D7CF-91C1-4318-901D-709C710803C6}'>
              <File KeyPath='yes' Checksum='yes' Id='odbc_store.so_debug' Name='odbc-store.so' />
            </Component>
            <Component Id='plugins.so_debug' Guid='{6D3F2ABC-EFD4-4BF7-889D-3FD0DBE3727C}'>
              <File KeyPath='yes' Checksum='yes' Id='plugins.so_debug' Name='plugins.so' />
            </Component>
            <Component Id='plugins_lite.so_debug' Guid='{83A9DA0D-774C-4F96-9446-D5A1B61BB4A2}'>
              <File KeyPath='yes' Checksum='yes' Id='plugins_lite.so_debug' Name='plugins-lite.so' />
            </Component>
            <Component Id='shibauthorizer.exe_debug' Guid='{83360639-DDC0-4B76-8168-21FB77EE6CD6}'>
              <File KeyPath='yes' Checksum='yes' Id='shibauthorizer.exe_debug' Name='shibauthorizer.exe' />
            </Component>
            <Component Id='shibresponder.exe_debug' Guid='{760124EA-67E5-4393-B3DF-657DCC92F04C}'>
              <File KeyPath='yes' Checksum='yes' Id='shibresponder.exe_debug' Name='shibresponder.exe' />
            </Component>
          </Directory><!-- lib_shibboleth_debug -->
        </Directory><!-- lib_shibboleth -->
      </Directory><!-- lib -->
      <!-- the service bin -->
      <Directory Id='sbin' Name='sbin' FileSource='$(var.SPBuildDirectory)\cpp-sp\Release' >
        <Component Id='shibd.exe' Guid='{2476BB80-9384-4026-86F5-E1569A685187}'>
          <File KeyPath='yes' Checksum='yes' Name='shibd.exe' />
          <!-- NOTE - whether this actually happens is predicated in noarch on whether this is an upgrade or not -->
          <ServiceInstall Id='shibd' Name='shibd_Default' 
                          DisplayName='Shibboleth 2 Daemon (Default)'
                          Description='Manages shared state and offloads SAML processing from Shibboleth web server modules.'
                          Arguments='-stdout "[INSTALLDIR]var\log\shibboleth\stdout.log" -stderr "[INSTALLDIR]var\log\shibboleth\stderr.log"'
                          Type='ownProcess' Start='auto' ErrorControl='ignore' />
          <ServiceControl Id='shibd_Default' Name='shibd_Default' Stop='both'  
                          Remove='uninstall' Start='install' Wait='no' />
        </Component>
        <Directory Id='sbin_debug' Name='debug' FileSource='$(var.SPBuildDirectory)\cpp-sp\Debug' >
          <Component Id='shibd.exe_debug' Guid='{91E9DF13-0940-43E7-9A2F-9571F6FC3DF2}'>
            <File KeyPath='yes' Checksum='yes' Id='shibd.exe_debug' Name='shibd.exe' />
          </Component>
        </Directory><!-- sbin_debug -->
      </Directory><!-- sbin -->
    </DirectoryRef><!-- INSTALLDIR -->
  </Fragment>
</Wix>
