<?xml version='1.0' encoding='UTF-8'?>

<!-- Licensed to the University Corporation for Advanced Internet
   Development, Inc. (UCAID) under one or more contributor license
   agreements.  See the NOTICE file distributed with this work for
   additional information regarding copyright ownership. The UCAID
   licenses this file to You under the Apache License, Version 2.0
   (the 'License'); you may not use this file except in compliance
   with the License.  You may obtain a copy of the License at
 
     http://www.apache.org/licenses/LICENSE-2.0
 
   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an 'AS IS' BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
   implied.  See the License for the specific language governing
   permissions and limitations under the License.  -->

<?include Versions.wxi ?>

<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
  <!-- This is where we put all the architecture neutral bits of the
       Shibboleth install.  It turns out that it may not be all the
       architecture insenstive stuff since some GUIDS may have moved
       -->
  <Fragment>

    <!-- Previous version search -->
    <Property Id='SHIB_OLDVERSION_64' Value='none' Secure='yes'>
      <RegistrySearch Id='SP_2_2_1_64' Root='HKLM' 
                      Key='SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\{5492935D-7D97-42FE-A916-5190C3F8C403}' 
                      Name='DisplayVersion' Type='raw' Win64='yes' />
      <RegistrySearch Id='SP2_4_1_64' Root='HKLM' 
                      Key='SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\{3936DF1B-DFF2-4A02-8A2C-8AB893718397}' 
                      Name='DisplayVersion' Type='raw' Win64='yes' />
      <RegistrySearch Id='SP2_4_2_64' Root='HKLM' 
                      Key='SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\{1081BC03-B61E-4F3C-ACD9-4C8C7D3E9928}' 
                      Name='DisplayVersion' Type='raw' Win64='yes' />
      <RegistrySearch Id='SP_2_4_3_64' Root='HKLM' 
                      Key='SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\{9367CC0C-D76D-4DA8-AF51-0DD144430DD8}' 
                      Name='DisplayVersion' Type='raw' Win64='yes' />
      <RegistrySearch Id='SP2_3_0_64' Root='HKLM' 
                      Key='SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\{C7F88000-9E35-4B23-86AD-997F90B04DEE}' 
                      Name='DisplayVersion' Type='raw' Win64='yes' />
      <RegistrySearch Id='SP2_4_0_64' Root='HKLM' 
                      Key='SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\{8F0834E5-A3C8-4B7F-B8DF-30BC90331C03}' 
                      Name='DisplayName' Type='raw' Win64='yes' />
      <RegistrySearch Id='SP2_1_0_64' Root='HKLM' 
                      Key='SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\{A8C641B8-0924-4264-BEBD-8D20F8B3EB79}' 
                      Name='DisplayVersion' Type='raw' Win64='yes' />
      <RegistrySearch Id='SP2_2_0_64' Root='HKLM' 
                      Key='SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\{DDEEB7B2-A639-4513-8437-83564FECAFD3}' 
                      Name='DisplayVersion' Type='raw' Win64='yes' />
      <RegistrySearch Id='SP2_3_1_64' Root='HKLM' 
                      Key='SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\{CFF81891-E7C4-47C3-B173-87CF1B947D05}' 
                      Name='DisplayVersion' Type='raw' Win64='yes' />
    </Property>

    <DirectoryRef Id='bin64'>
      <Component Id='file_extension64' Guid='{F17BED16-5988-4F9E-82E0-1D4DCB69EC26}' Win64='yes'>
        <Condition>INSTALL_ISAPI_FILTER = "TRUE"</Condition>
        <RegistryValue Id='FileExtension64' Root='HKLM' Key='SOFTWARE\Shibboleth' 
                       Name='FileExtension' Value='[SHIB_FILE_EXTENSION]' Type='string' KeyPath='yes' />
      </Component>

      <Component Id='shib64.ico' Guid='{AB12F477-E49D-4E52-B130-AF0913AF9EC9}' Win64='yes'>
        <File Id='shib64.ico' KeyPath='yes' Source='$(var.BuildDirectory)\cvs\2.0\cpp-sp\msi\shib.ico'/>
        <RegistryValue Id='DisplayIcon64' Root='HKLM' Key='Software\Microsoft\Windows\CurrentVersion\Uninstall\[ProductCode]' 
                       Name='DisplayIcon' Value='[#shib64.ico],0' Type='string' />
      </Component>
    </DirectoryRef>
  <!--
     <ComponentRef Id='file_extension64'/>
     <ComponentRef Id='shib64.ico' />
     -->

  </Fragment>
</Wix>
