<?xml version='1.0' encoding='UTF-8'?>

<!-- Licensed to the University Corporation for Advanced Internet
   Development, Inc. (UCAID) under one or more contributor license
   agreements.  See the NOTICE file distributed with this work for
   additional information regarding copyright ownership. The UCAID
   licenses this file to You under the Apache License, Version 2.0
   (the 'License'); you may not use this file except in compliance
   with the License.  You may obtain a copy of the License at
 
     http://www.apache.org/licenses/LICENSE-2.0
 
   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an 'AS IS' BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
   implied.  See the License for the specific language governing
   permissions and limitations under the License.  -->

<?include Versions.wxi ?>

<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
  <!-- This is where we put all the architecture neutral bits of the
       Shibboleth install.  It turns out that it may not be all the
       architecture insenstive stuff since some GUIDS may have moved
       -->
  <Fragment>
    <!-- Files First -->
    <!-- Configuration, licenses and documentation -->

    <DirectoryRef Id='INSTALLDIR'>
      <Directory Id='doc' Name='doc' >
        <Directory Id='doc_shibboleth' Name='shibboleth' 
                   FileSource='$(var.BuildDirectory)\cvs\2.0\cpp-sp\doc' >
          <Component Id='doc_shibboleth' Guid='{8239E994-8295-4E26-8708-DDF240B486BF}'>
            <File Name='main.css' KeyPath='yes'/>
            <File Name='logo.jpg' />
            <File Name='CREDITS.txt' />
            <File Name='LICENSE.txt' />
            <File Name='NOTICE.txt' />
            <File Name='README.txt'/>
            <File Name='RELEASE.txt' />
          </Component>
        </Directory><!-- doc_shibboleth -->
      </Directory><!-- doc -->
      <Directory Id='etc' Name='etc' >
        <Directory Id='etc_shibboleth' Name='shibboleth' 
                   FileSource='$(var.BuildDirectory)\cvs\2.0\cpp-sp\configs' >
          <Component Id='etc_shibboleth_perm' Guid='{1F1B9F9B-6437-46F1-ACE8-8D135612336C}' Permanent='yes'>
            <File KeyPath='yes' 
                  Source='$(var.BuildDirectory)\openssl-$(var.OpenSSLDirVersion)\apps\openssl.cnf' />
            <File Name='upgrade.xsl' />
            <File Name='example-metadata.xml' />
            <File Name='example-shibboleth2.xml' />
          </Component>
          <Component Id='etc_shibboleth_nonperm' Guid='{A5BBCB8B-42B3-4402-B66D-66D2971F509F}'>
            <File Name='keygen.bat' KeyPath='yes' Source='$(var.BuildDirectory)\cvs\2.0\cpp-sp\configs\keygen.bat-wix'/>
            <File Name='xsltproc.js' />
          </Component>
          <Directory Id='etc_shibboleth_dist' Name='dist' 
                     FileSource='$(var.BuildDirectory)\cvs\2.0\cpp-sp\configs' >
            <Component Id='dist_noperm' Guid='{6AEBA525-8F52-4D14-BAEE-0292A2E214D1}'>
              <!-- Note that the dir creation here is an accident caused by the inhertited Installer -->
              <CreateFolder Directory='var_run_shibboleth' />
              <File Name='apache22.config.in' KeyPath='yes' />
              <File Name='sslError.html' />
              <File Name='bindingTemplate.html' />
              <File Name='globalLogout.html' />
              <File Name='localLogout.html' />
              <File Name='attribute-map.xml' />
              <File Name='attribute-policy.xml'/>
              <File Name='shibboleth2.xml' />
              <File Name='console.logger' />
              <File Name='discoveryTemplate.html' />
              <File Name='postTemplate.html' />
              <File Name='partialLogout.html' />
              <File Name='protocols.xml' />
              <File Name='security-policy.xml' />
            </Component>
            <Component Id='accessError.html' Guid='{6FAA81A0-A020-4E60-A37D-1EC4D0D5FD06}' Permanent='yes'>
              <File Name='accessError.html' />
            </Component>
            <Component Id='apache.config' Guid='{AF4EB2B1-2489-4E39-A89E-1CA7AC2B7483}' Permanent='yes'>
              <File Name='apache.config.in' />
            </Component>
            <Component Id='apache2.config' Guid='{85BF72A1-FBA8-4955-ACCF-ABC83B1292C9}' Permanent='yes'>
              <File Name='apache2.config.in' KeyPath='yes' />
            </Component>
            <Component Id='metadataError.html' Guid='{8C46D04A-A943-4FA4-AFCB-9B040306C2C0}' Permanent='yes'>
              <File  Name='metadataError.html' KeyPath='yes' />
            </Component>
            <Component Id='native.logger' Guid='{8586D4C7-E237-4C7F-BC79-DE0B06473395}' Permanent='yes'>
              <File Name='native.logger.in' KeyPath='yes' />
            </Component>
            <Component Id='sessionError.html' Guid='{8AA240B3-DC5D-4687-B321-4F5E1BAEA820}' Permanent='yes'>
              <File Name='sessionError.html' KeyPath='yes' />
            </Component>
            <Component Id='shibd.logger' Guid='{D8DA3D14-F779-4691-A883-4995158D2A74}' Permanent='yes'>
              <File Name='shibd.logger.in' KeyPath='yes' />
            </Component>
          </Directory><!-- etc_shibboleth_dist -->
        </Directory><!-- etc_shibboleth -->
      </Directory><!-- etc_dist -->
      <Directory Id='var' Name='var'>
        <Directory Id='var_log' Name='log'>
          <Directory Id='var_log_shibboleth' Name='shibboleth'>
            <Component Id='var_log_shibboleth_folder' Guid='{2BFC84E4-634B-4D70-910A-D5640739C8C8}' KeyPath='yes'>
              <CreateFolder />
            </Component>
          </Directory><!-- var_log_shibboleth -->
        </Directory><!-- var_log -->
        <Directory Id='var_run' Name='run'>
          <Directory Id='var_run_shibboleth' Name='shibboleth' />
        </Directory><!-- var_run -->
      </Directory><!-- var -->
      <!-- Schemas -->
      <!-- TODO Move to a merge module -->
      <Directory Id='CommonAppDataFolder' Name='CommonFiles' >
        <Directory Id='Shibboleth' Name='Shibboleth' >
          <Directory Id='SP' Name='SP' >
            <Directory Id='xml' Name='xml' >
              <Directory Id='xml_shibboleth' Name='shibboleth'
                         FileSource='$(var.BuildDirectory)\cvs\2.0\cpp-sp\schemas' >
                <Component Id='share_xml_shibboleth' Guid='{69FCD385-B31D-43FB-B8A7-6F8D30391661}'>
                  <File Name='shibboleth-metadata-1.0.xsd' KeyPath='yes' />
                  <File Name='catalog.xml' Source='$(var.BuildDirectory)\cvs\2.0\cpp-sp\schemas\catalog.xml.in' />
                  <File Name='shibboleth-2.0-attribute-map.xsd' />
                  <File Name='shibboleth-2.0-afp.xsd' />
                  <File Name='shibboleth-2.0-afp-mf-saml.xsd' />
                  <File Name='WS-Trust.xsd' />
                  <File Name='shibboleth-2.0-sp-notify.xsd' />
                  <File Name='shibboleth-2.0-native-sp-config.xsd' />
                  <File Name='shibboleth-2.0-afp-mf-basic.xsd' />
                  <File Name='shibboleth-2.0-native-sp-protocols.xsd' />
                </Component>
                <Component Id='share_xml_shibboleth_xsd' Guid='{8C5B6416-5BE3-4D4D-BF8B-B677365DA58C}'>
                  <File Name='shibboleth.xsd' KeyPath='yes' />
                </Component>
              </Directory><!--xml_shibboleth-->
            </Directory><!--xml-->
          </Directory><!--SP-->
        </Directory><!--Shibboleth-->
      </Directory><!--CommonAppDataFolder-->
    </DirectoryRef>

    <!-- The actions to perform after the files have been copied
      TODO optionally add in the set64shibd set32shibd -->
    <Binary Id='EditConfigFileSrc' SourceFile='$(var.BuildDirectory)\cvs\2.0\cpp-sp\msi\scripts\shib_edit_config_files.vbs-wix' />
    <Binary Id='KeyGenSrc' SourceFile='$(var.BuildDirectory)\cvs\2.0\cpp-sp\msi\scripts\shib_keygen.vbs' />
    <CustomAction Id='EditConfigFiles' 
                  BinaryKey='EditConfigFileSrc' VBScriptCall='' Execute='deferred' Impersonate='no' />
    <CustomAction Id='SetEditConfigFiles' Property='EditConfigFiles' Value='[INSTALLDIR];@;[SHIBD_PORT];@;[CommonAppDataFolder]' />
    <!-- TODO use QtExecCmdLine -->
    <CustomAction Id='KeyGen' BinaryKey='KeyGenSrc' VBScriptCall='' Execute='deferred' Impersonate='no' />
    <CustomAction Id='SetKeyGen' Property='KeyGen' Value='[INSTALLDIR]' />

    <!-- TODO IIS Install (if not ALREADYINSTALLED)
         IIS Uninstalll (if UGRADINGPRODUCTCODE) -->
    <InstallExecuteSequence>
      <Custom Action='SetEditConfigFiles' Before='CostInitialize'>NOT Installed</Custom>
      <!--TODO move editing of the catalog files to the merge module-->
      <Custom Action='EditConfigFiles' After='InstallFiles'>NOT Installed</Custom>
      <Custom Action='SetKeyGen' Before='CostInitialize'>NOT Installed</Custom>
      <Custom Action='KeyGen' After='WriteEnvironmentStrings'>NOT Installed</Custom><!--After WriteEnvironmentStrings so the path is set -->

    </InstallExecuteSequence>

    <!-- Components

         <ComponentRef Id='doc_shibboleth'/>
         <ComponentRef Id='etc_shibboleth_perm'/>
         <ComponentRef Id='etc_shibboleth_nonperm'/>
         <ComponentRef Id='dist_noperm'/>
         <ComponentRef Id='accessError.html'/>
         <ComponentRef Id='apache.config'/>
         <ComponentRef Id='apache2.config'/>
         <ComponentRef Id='metadataError.html'/>
         <ComponentRef Id='native.logger'/>
         <ComponentRef Id='sessionError.html'/>
         <ComponentRef Id='shibd.logger'/>
         <ComponentRef Id='var_log_shibboleth_folder'/>
         <ComponentRef Id='share_xml_shibboleth'/>
         <ComponentRef Id='share_xml_shibboleth_xsd'/>
         -->

  </Fragment>
</Wix>
