<?xml version='1.0' encoding='utf-8'?>

<!-- Licensed to the University Corporation for Advanced Internet
   Development, Inc. (UCAID) under one or more contributor license
   agreements.  See the NOTICE file distributed with this work for
   additional information regarding copyright ownership. The UCAID
   licenses this file to You under the Apache License, Version 2.0
   (the 'License'); you may not use this file except in compliance
   with the License.  You may obtain a copy of the License at
 
     http://www.apache.org/licenses/LICENSE-2.0
 
   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an 'AS IS' BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
   implied.  See the License for the specific language governing
   permissions and limitations under the License.  -->

<?define BuildDirectory='G:\Downloads\shib\' ?>
<?define ShibbolethSPFileVersion='1_4' ?>

<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
  <!-- This is where we put all executables & so & dlls which make up the SP X86 installer
       -->
  <Fragment>
    <!-- Configuration, licenses and documentation -->
    <DirectoryRef Id='INSTALLDIR'>
      <Directory Id='bin' Name='bin' 
                 FileSource='$(var.BuildDirectory)\cvs\2.0\cpp-sp\Release' >
        <Component Id="resolvertest.exe" Guid="{D381B6FA-2971-457B-804E-F08DD517866F}">
          <File Name="resolvertest.exe" KeyPath="yes" />
        </Component>
        <Component Id="mdquery.exe" Guid="{AA3655D7-D498-4FEE-A1C4-437C82AA1C2A}">
          <File Name="mdquery.exe" KeyPath="yes" />
        </Component>
        <Directory Id='bin_debug' Name='debug' 
                   FileSource='$(var.BuildDirectory)\cvs\2.0\cpp-sp\Release' >
          <Component Id="resolvertest.exe_debug" Guid="{4FA03A33-961A-42E5-8D7A-5F2E207757DD}">
            <File Name="resolvertest.exe" Id="resolvertest.exe_debug" KeyPath="yes"/>
          </Component>
          <Component Id="mdquery.exe_debug" Guid="{C7A4A6A5-3DAF-4254-9C29-1511AB3ABC62}">
            <File Name="mdquery.exe" Id="mdquery.exe_debug" KeyPath="yes" />
          </Component>
        </Directory><!-- bin_debug -->
      </Directory><!-- bin -->

      <Directory Id='lib' Name='lib' 
                 FileSource='$(var.BuildDirectory)\cvs\2.0\cpp-sp\Release' >
        <Directory Id='lib_shibboleth' Name='shibboleth' 
                   FileSource='$(var.BuildDirectory)\cvs\2.0\cpp-sp\Release' >
          <Component Id="adfs.so" Guid="{9C92C803-E905-4B43-8723-05678DC73B88}">
            <File Name="adfs.so" KeyPath="yes" />
          </Component>
          <Component Id="adfslite.so" Guid="{EDFA1AD0-1D4A-4D51-B2F0-6C779059FA78}">
            <File Name="adfs-lite.so" KeyPath="yes" />
          </Component>
          <Component Id="isapi_shib.dll" Guid="{716D6F4F-4185-4219-B1BA-1D15F867926E}">
            <File Name="isapi_shib.dll" KeyPath="yes" />
          </Component>
          <Component Id="mod_shib_13.so" Guid="{5C85940B-7644-4AA4-9948-9EFFC1729EFB}">
            <File Name="mod_shib_13.so" KeyPath="yes" />
          </Component>
          <Component Id="mod_shib_20.so" Guid="{FFC2D560-FD06-42BB-9EA7-B0CC988AC4A6}">
            <File Name="mod_shib_20.so" KeyPath="yes" />
          </Component>
          <Component Id="mod_shib_22.so" Guid="{BB889066-3EF2-43C5-BC4D-CD6B1DC4AE7B}">
            <File Name="mod_shib_22.so" KeyPath="yes" />
          </Component>
          <Component Id="nsapi_shib.dll" Guid="{F199DD8A-292F-4C7D-AACB-7283852D6335}">
            <File Name="nsapi_shib.dll" KeyPath="yes" />
          </Component>
          <Component Id="odbcstore.so" Guid="{807FBD34-6E59-4BFD-975D-AD7B381F2A7E}">
            <File Name="odbc-store.so" KeyPath="yes" />
          </Component>
          <Component Id="shibauthorizer.exe" Guid="{7C7C1C24-902A-4003-AE59-599E79161782}">
            <File Name="shibauthorizer.exe" KeyPath="yes" />
          </Component>
          <Component Id="shibresponder.exe" Guid="{510267D9-61F2-47EF-99D2-CB3D21CB14EB}">
            <File Name="shibresponder.exe" KeyPath="yes" />
          </Component>
          <Directory Id='lib_shibboleth_debug' Name='debug' 
                     FileSource='$(var.BuildDirectory)\cvs\2.0\cpp-sp\Debug' >
            <Component Id="adfsD.so" Guid="{9B8E071F-B251-4373-A786-8966FD0D22EF}">
              <File Id="adfsD.so" Name="adfs.so" KeyPath="yes" />
            </Component>
            <Component Id="adfsliteD.so" Guid="{680F510A-FFDA-4AE2-8C5D-DD9D62C90DDC}">
              <File Id="adfs_liteD.so" Name="adfs-lite.so" KeyPath="yes" />
            </Component>
            <Component Id="isapi_shibD.dll" Guid="{F8212D30-0BA8-4F02-B595-E8E5D312342B}">
              <File Id="isapi_shibD.dll" Name="isapi_shib.dll" KeyPath="yes" />
            </Component>
            <Component Id="mod_shib_13D.so" Guid="{E8B798AB-D772-428D-8033-2A77CB437CF0}">
              <File Id="mod_shib_13D.so" Name="mod_shib_13.so" KeyPath="yes" />
            </Component>
            <Component Id="mod_shib_20D.so" Guid="{468806BF-6924-47D5-B319-608C2D63FDDC}">
              <File Id="mod_shib_20D.so" Name="mod_shib_20.so" KeyPath="yes" />
            </Component>
            <Component Id="mod_shib_22D.so" Guid="{3DA4492F-C0EA-4286-9C37-13F82342FA67}">
              <File Id="mod_shib_22D.so" Name="mod_shib_22.so" KeyPath="yes" />
            </Component>
            <Component Id="nsapi_shibD.dll" Guid="{492A5D72-4FE0-417E-9023-311E1BF34816}">
              <File Id="nsapi_shibD.dll" Name="nsapi_shib.dll" KeyPath="yes" />
            </Component>
            <Component Id="odbcstoreD.so" Guid="{F217D7CF-91C1-4318-901D-709C710803C6}">
              <File Id="odbc_storeD.so" Name="odbc-store.so" KeyPath="yes" />
            </Component>
            <Component Id="shibauthorizerD.exe" Guid="{83360639-DDC0-4B76-8168-21FB77EE6CD6}">
              <File Id="shibauthorizer.exe_Debug" Name="shibauthorizer.exe" KeyPath="yes" />
            </Component>
            <Component Id="shibresponderD.exe" Guid="{760124EA-67E5-4393-B3DF-657DCC92F04C}">
              <File Id="shibresponder.exe_Debug" Name="shibresponder.exe" KeyPath="yes" />
            </Component>
          </Directory><!-- lib_shibboleth_debug -->
        </Directory><!-- lib_shibboleth -->
      </Directory><!-- lib -->
      <!-- the service bin -->
      <Directory Id='sbin' Name='sbin'
                 FileSource='$(var.BuildDirectory)\cvs\2.0\cpp-sp\Release' >
        <Component Id="shibd.exe" Guid="{2476BB80-9384-4026-86F5-E1569A685187}">
          <File Name="shibd.exe" KeyPath="yes" />
        </Component>
        <Directory Id="sbin_debug" Name="debug"
                   FileSource='$(var.BuildDirectory)\cvs\2.0\cpp-sp\Debug' >
          <Component Id="shibdD.exe" Guid="{91E9DF13-0940-43E7-9A2F-9571F6FC3DF2}">
            <File Id="shibd.exe_debug" Name="shibd.exe" KeyPath="yes" />
          </Component>
        </Directory><!-- sbin_debug -->
      </Directory><!-- sbin -->
    </DirectoryRef><!-- INSTALLDIR -->

    <!-- Components

         <ComponentRef Id='resolvertest.exe'/>
         <ComponentRef Id='mdquery.exe'/>
         <ComponentRef Id='resolvertest.exe_debug'/>
         <ComponentRef Id='mdquery.exe_debug'/>

         <ComponentRef Id='shibsplite.dll'/>
         <ComponentRef Id='shibsp.dll'/>
         <ComponentRef Id='shibspliteD.dll'/>
         <ComponentRef Id='shibspD.dll'/>

         <ComponentRef Id='adfs.so'/>
         <ComponentRef Id='adfslite.so'/>
         <ComponentRef Id='isapi_shib.dll'/>
         <ComponentRef Id='mod_shib_13.so'/>
         <ComponentRef Id='mod_shib_20.so'/>
         <ComponentRef Id='mod_shib_22.so'/>
         <ComponentRef Id='nsapi_shib.dll'/>
         <ComponentRef Id='odbcstore.so'/>
         <ComponentRef Id='shibauthorizer.exe'/>
         <ComponentRef Id='shibresponder.exe'/>

         <ComponentRef Id='adfsD.so'/>
         <ComponentRef Id='adfsliteD.so'/>
         <ComponentRef Id='isapi_shibD.dll'/>
         <ComponentRef Id='mod_shib_13D.so'/>
         <ComponentRef Id='mod_shib_20D.so'/>
         <ComponentRef Id='mod_shib_22D.so'/>
         <ComponentRef Id='nsapi_shibD.dll'/>
         <ComponentRef Id='odbcstoreD.so'/>
         <ComponentRef Id='shibauthorizerD.exe'/>
         <ComponentRef Id='shibresponderD.exe'/>

         <ComponentRef Id='shibd.exe'/>
         <ComponentRef Id='shibdD.exe'/>
         -->

  </Fragment>
</Wix>
