<?xml version='1.0' encoding='UTF-8'?>

<!-- Licensed to the University Corporation for Advanced Internet
     Development, Inc. (UCAID) under one or more contributor license
     agreements.  See the NOTICE file distributed with this work for
     additional information regarding copyright ownership. The UCAID
     licenses this file to You under the Apache License, Version 2.0
     (the 'License'); you may not use this file except in compliance
     with the License.  You may obtain a copy of the License at
     
     http://www.apache.org/licenses/LICENSE-2.0
     
     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an 'AS IS' BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
     implied.  See the License for the specific language governing
     permissions and limitations under the License.  -->

<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
  <!-- This file contains the description of the dialog which captures installation
       values for first time installs -->
  <Fragment>

    <UI>

      <!-- This Dialog sets up:
           - INSTALLDIR
           - INSTALL_32BIT (if a 64bit machine)
           - INSTALL_ISAPI_FILTER (if IIS about)
           - SHIB_FILE_EXTENSION (if IIS about)
        -->

      <Dialog Id='InstallDirDlgShib' Width='370' Height='270' Title='[ProductName] Setup'>
        <!-- Stuff at the top: picture, some text, a line -->
        <Control Id='TopBitMap' Type='Bitmap' X='0' Y='0' Width='370' Height='44' Text='WixUI_Bmp_Banner' />
        <Control Id='TopInfo' Type='Text' X='15' Y='6' Width='150' Height='12' 
                 Text='{\WixUI_Font_Title}Configure Shibboleth' Transparent='yes'/>
        <Control Id='TopDetailed' Type='Text' X='25' Y='24' Width='320' Height='12' 
                 Text='Please choose where to install the Shibboleth SP and other installation options' Transparent='yes'/>
        <Control Id='TopLine' Type='Line' X='0' Y='44' Width='370' Height='1' />

        <!-- Buttons to control Shibboleth Setup -->
        <Control Id='DescriptionLine1' Type='Text' X='25' Y='51' Height='12' Width='320' 
                 Text='The files for [ProductName] will be installed in the following folder.'/>

        <Control Id='DescriptionLine2' Type='Text' X='25' Y='70' Height='12' Width='320' 
                 Text='To install into a different folder, click the Browse button, and select another folder.'/>

        <Control Id='DescriptionLine3' Type='Text' X='25' Y='90' Height='24' Width='320' 
                 Text='You can choose not to install [ProductName] by clicking Cancel to exit the installer.' />

        <!-- Where? -->
        <Control Id='Dest' Type='Edit' X='25' Y='115' Width='228' Height='17' Property='INSTALLDIR' Text='[INSTALLDIR]' />
        <Control Id='ChangeFolder' Type='PushButton' X='265' Y='115' Height='17' Width='56' Text='B&amp;rowse...'>
          <Publish Event='SpawnDialog' Value='BrowseDlg' Order='1'>1</Publish>
          <Publish Event='[_BrowseProperty]' Value='[WIXUI_INSTALLDIR]' Order='1'>1</Publish>
        </Control>

        <!-- Service? -->
        <Control Id='InstallShibd' Type='Text' X='25' Y='148' Height='17' Width='235' 
                 Text='The Shibboleth Daemon will be installed as a service.' />

        <!-- 32 Bits? -->
        <Control Id='Install32Bit' Type='CheckBox' X='265' Y='146' Height='17' Width='80'
                 Property='INSTALL_32BIT' CheckBoxValue='TRUE' 
                 Text='Run as 32-Bit'>
          <Condition Action='show'>IS64BITINSTALL = "TRUE"</Condition>
          <Condition Action='hide'>IS64BITINSTALL &lt;&gt; "TRUE"</Condition>
        </Control>

        <!-- ISAPI? -->
        <Control Id='InstallISAPI' Type='CheckBox' X='25' Y='175' Height='17' Width='160'
                 Property='INSTALL_ISAPI_FILTER' CheckBoxValue='TRUE' 
                 Text='Install ISAPI modules into IIS'>
          <Condition Action='show'>IISMAJORVERSION</Condition>
          <Condition Action='hide'>NOT IISMAJORVERSION</Condition>
        </Control>
        <Control Id='FileExtensionText' Type='Text' X='185' Y='178' Height='17' Width='96'
                 Text='IIS Script Extension'>
          <Condition Action='show'>IISMAJORVERSION</Condition>
          <Condition Action='hide'>NOT IISMAJORVERSION</Condition>
        </Control>
        <Control Id='FileExtensionEdit' Type='Edit' X='285' Y='175' Height='17' Width='50'
                 Property='SHIB_FILE_EXTENSION' Text='[SHIB_FILE_EXTENSION]'>
          <Condition Action='show'>IISMAJORVERSION</Condition>
          <Condition Action='hide'>NOT IISMAJORVERSION</Condition>
          <Condition Action='enable'>INSTALL_ISAPI_FILTER = "TRUE"</Condition>
          <Condition Action='disable'>INSTALL_ISAPI_FILTER &lt;&gt; "TRUE"</Condition>
        </Control>

        <!-- Stuff at the bottom: line, Back,Next, [space] Cancel -->
        <Control Id='BottomLine' Type='Line' X='0' Y='234' Width='370' Height='1' />
        <Control Id='Back' Type='PushButton' X='180' Y='243' Width='56' Height='17' Text='&amp;Back'>
          <Publish  Event='NewDialog' Value='LicenseAgreementDlg'>1</Publish>
        </Control>

        <Control Id='Next' Type='PushButton' X='236' Y='243' Width='56' Height='17' Text='&amp;Next' Default='yes'>
          <Publish Event='SetTargetPath' Value='[WIXUI_INSTALLDIR]'>1</Publish>
          <Publish Event='DoAction' Value='WixUIValidatePath' >
            NOT WIXUI_DONTVALIDATEPATH
          </Publish>
          <Publish Event='SpawnDialog' Value='InvalidDirDlg' >
            NOT WIXUI_DONTVALIDATEPATH AND WIXUI_INSTALLDIR_VALID&lt;&gt;"1"
          </Publish>
          <Publish Event='NewDialog' Value='VerifyReadyDlg'>
            WIXUI_DONTVALIDATEPATH OR WIXUI_INSTALLDIR_VALID="1"
          </Publish>
        </Control>

        <Control Id='Cancel' Type='PushButton' X='304' Y='243' Width='56' Height='17' Text='&amp;Cancel' Cancel='yes'>
          <Publish  Event='SpawnDialog' Value='CancelDlg'>1</Publish>
        </Control>
      </Dialog>

    </UI>
  </Fragment>
</Wix>
