<?xml version='1.0' encoding='utf-8'?>

<!-- Licensed to the University Corporation for Advanced Internet
   Development, Inc. (UCAID) under one or more contributor license
   agreements.  See the NOTICE file distributed with this work for
   additional information regarding copyright ownership. The UCAID
   licenses this file to You under the Apache License, Version 2.0
   (the "License"); you may not use this file except in compliance
   with the License.  You may obtain a copy of the License at
 
     http://www.apache.org/licenses/LICENSE-2.0
 
   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
   implied.  See the License for the specific language governing
   permissions and limitations under the License.  -->

<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
  <Product Id='C59417F2-CCCA-4668-A39E-E7227D295D59' Name='Test Package1' Language='1033'
           Version='1.0.0.0' Manufacturer='Shibboleth Consortium'>
    <Package Description='TEST Windows Installer package'
             Comments='Ignore Ignore Ignore Ignore'
             Manufacturer='Shibboleth Consortium' InstallerVersion='300' Compressed='yes' />

    <Media Id='1' Cabinet='product.cab' EmbedCab='yes' />
    <!-- Files -->
    <Directory Id='TARGETDIR' Name='SourceDir'>
      <!-- The test bit -->
      <Directory Id='Opt' Name='opt'>
        <Directory Id='INSTALLDIR' Name='shibboleth-sp'>
          <Component Id='MyComponent' Guid='74DBAA41-4C46-4944-80F6-27F925991CB2'>
            <File Source='FileCounts.txt' />
          </Component>
        </Directory>
      </Directory>
      <Directory Id='ProgramFilesFolder' Name='PFiles'>
        <!-- The merge modules -->
        <Merge Id='CurlMergeModule_x86' Language='1033' SourceFile='MergeModules\Curl-x86.msm' DiskId='1' />
        <Merge Id='FastCGIMergeModule_x86' Language='1033' SourceFile='MergeModules\FastCGI-x86.msm' DiskId='1' />
        <Merge Id='Log4ShibMergeModule_x86' Language='1033' SourceFile='MergeModules\Log4Shib-x86.msm' DiskId='1' />
        <Merge Id='OpenSAMLMergeModule_x86' Language='1033' SourceFile='MergeModules\OpenSAML-x86.msm' DiskId='1' />
        <Merge Id='OpenSSLMergeModule_x86' Language='1033' SourceFile='MergeModules\OpenSSL-x86.msm' DiskId='1' />
        <Merge Id='ShibbolethMergeModule_x86' Language='1033' SourceFile='MergeModules\Shibboleth-x86.msm' DiskId='1' />
        <Merge Id='XercesMergeModule_x86' Language='1033' SourceFile='MergeModules\Xerces-x86.msm' DiskId='1' />
        <Merge Id='XmlSecMergeModule_x86' Language='1033' SourceFile='MergeModules\XmlSec-x86.msm' DiskId='1' />
        <Merge Id='XmlToolingMergeModule_x86' Language='1033' SourceFile='MergeModules\XmlTooling-x86.msm' DiskId='1' />
        <Merge Id='ZlibMergeModule_x86' Language='1033' SourceFile='MergeModules\Zlib-x86.msm' DiskId='1' />
        <!-- the schema -->
        <Directory Id='shibboleth' Name='Shibboleth'>
          <Directory Id='shibboleth_SP' Name='SP'>
            <Directory Id='SHARE_DIR' Name='Share'/>
          </Directory>
        </Directory>
      </Directory>
      <Directory Id='SystemFolder' >
        <!-- Note that this will cause warning at link time which can
        be safely ignored
        http://blogs.msdn.com/b/astebner/archive/2007/02/13/building-an-msi-using-wix-v3-0-that-includes-the-vc-8-0-runtime-merge-modules.aspx-->
       <Merge Id='Microsoft_VC100_DebugCRT_x86' Language='1033' SourceFile='C:\Program Files (x86)\Common Files\Merge Modules\Microsoft_VC100_DebugCRT_x86.msm' DiskId='1' />
        <Merge Id='Microsoft_VC100_CRT_x86' Language='1033' SourceFile='C:\Program Files (x86)\Common Files\Merge Modules\Microsoft_VC100_CRT_x86.msm' DiskId='1' />
      </Directory>
    </Directory>

    <!-- Feature -->
    <Feature Id='MyFeature' Title='My 1st Feature' Level='1'>
      <ComponentRef Id='MyComponent' />
      <ComponentRef Id='doc_shibboleth'/>
      <ComponentRef Id='etc_shibboleth_perm'/>
      <ComponentRef Id='etc_shibboleth_nonperm'/>
      <ComponentRef Id='dist_noperm'/>
      <ComponentRef Id='accessError.html'/>
      <ComponentRef Id='apache.config'/>
      <ComponentRef Id='apache2.config'/>
      <ComponentRef Id='metadataError.html'/>
      <ComponentRef Id='native.logger'/>
      <ComponentRef Id='sessionError.html'/>
      <ComponentRef Id='shibd.logger'/>
      <ComponentRef Id='var_log_shibboleth_folder'/>
      <ComponentRef Id='share_xml_shibboleth'/>
      <ComponentRef Id='share_xml_shibboleth_xsd'/>
      <!--exe's -->
      <ComponentRef Id='resolvertest.exe'/>
      <ComponentRef Id='mdquery.exe'/>
      <ComponentRef Id='resolvertest.exe_debug'/>
      <ComponentRef Id='mdquery.exe_debug'/>
      <!-- plugins  -->
      <ComponentRef Id='adfs.so'/>
      <ComponentRef Id='adfslite.so'/>
      <ComponentRef Id='isapi_shib.dll'/>
      <ComponentRef Id='mod_shib_13.so'/>
      <ComponentRef Id='mod_shib_20.so'/>
      <ComponentRef Id='mod_shib_22.so'/>
      <ComponentRef Id='nsapi_shib.dll'/>
      <ComponentRef Id='odbcstore.so'/>
      <ComponentRef Id='shibauthorizer.exe'/>
      <ComponentRef Id='shibresponder.exe'/>
      <!-- debug plugins -->
      <ComponentRef Id='adfsD.so'/>
      <ComponentRef Id='adfsliteD.so'/>
      <ComponentRef Id='isapi_shibD.dll'/>
      <ComponentRef Id='mod_shib_13D.so'/>
      <ComponentRef Id='mod_shib_20D.so'/>
      <ComponentRef Id='mod_shib_22D.so'/>
      <ComponentRef Id='nsapi_shibD.dll'/>
      <ComponentRef Id='odbcstoreD.so'/>
      <ComponentRef Id='shibauthorizerD.exe'/>
      <ComponentRef Id='shibresponderD.exe'/>
      <!-- the service -->
      <ComponentRef Id='shibd.exe'/>
      <ComponentRef Id='shibdD.exe'/>
      <!-- The merge modules -->
      <MergeRef Id='CurlMergeModule_x86' />
      <MergeRef Id='FastCGIMergeModule_x86' />
      <MergeRef Id='OpenSAMLMergeModule_x86' />
      <MergeRef Id='OpenSSLMergeModule_x86' />
      <MergeRef Id='Log4ShibMergeModule_x86' />
      <MergeRef Id='ShibbolethMergeModule_x86' />
      <MergeRef Id='ZlibMergeModule_x86' />
      <MergeRef Id='XercesMergeModule_x86' />
      <MergeRef Id='XmlSecMergeModule_x86' />
      <MergeRef Id='XmlToolingMergeModule_x86' />
      <MergeRef Id='Microsoft_VC100_CRT_x86' />
      <MergeRef Id='Microsoft_VC100_DebugCRT_x86' />
    </Feature>
  </Product>
</Wix>
