// Microsoft Visual C++ generated resource script.
//
#define __shibsp_base_h__ 
#include "version.h"

#include "winres.h"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
FILEVERSION SHIBSP_VERSION_MAJOR, SHIBSP_VERSION_MINOR, SHIBSP_VERSION_REVISION, SHIBSP_VERSION_PATCH
PRODUCTVERSION SHIBSP_VERSION_MAJOR, SHIBSP_VERSION_MINOR, SHIBSP_VERSION_REVISION, SHIBSP_VERSION_PATCH
FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x0L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080904b0"
        BEGIN
#include "..\util\resourceCommon.rci"
            VALUE "FileDescription", "Shibboleth IIS Module"
            VALUE "InternalName", "iis7_shib"
            VALUE "OriginalFilename", "iis7_shib.dll"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x809, 1200
    END
END

