######
## SHIB Config
######

LoadModule shibrm_module /mit/shibboleth/src/shibboleth/c/mod_shibrm/mod_shibrm.so
LoadModule shire_module /mit/shibboleth/src/shibboleth/c/mod_shire/mod_shire.so

# Global SHIRE Configuration
SHIREConfig /mit/shibboleth/src/shibboleth/c/shibboleth.ini

# Per-server SHIRE Configuration
#ShibNormalizeRequest Off

# Configure a test directory
<Location /test>
  AuthType shibboleth
  require valid-user

  # Per-directory SHIRE Configuration
  #ShibBasicHijack On
  #ShibSSLOnly On
  #ShibCheckAddress On
  #ShibAuthLifetime 60
  #ShibAuthTimeout 600

  # RM Configuration
  #AuthGroupFile /foo
  #ShibExportAssertion On

</Location>

#
# Turn on the SHIRE support
# 
<Location /shibboleth/SHIRE>
  AuthType shibboleth
  require valid-user
</Location>
