# ADD THIS TO THE END OF YOUR APACHE'S HTTPD.CONF

######
## SHIB Config
######

LoadModule shibrm_module /mit/shibboleth/libexec/mod_shibrm.so
LoadModule shire_module /mit/shibboleth/libexec/mod_shire.so

# Global SHIRE Configuration
SHIREConfig /mit/shibboleth/src/shibboleth/c/shibboleth.ini

# Set the SHIRE POST processor URL
SHIREURL /shibboleth/SHIRE
<Location /shibboleth/SHIRE>
  SetHandler shib-shire-post
</Location>

# Attribute Map
# ShibMapAttribute

# Configure a test directory
<Location /test>
  AuthType shibboleth
  require valid-user

  # Per-directory SHIRE Configuration
  #ShibBasicHijack On
  #ShibSSLOnly On
  #ShibAuthLifetime 60
  #ShibAuthTimeout 600

  # RM Configuration
  #AuthGroupFile /foo
  #ShibExportAssertion On

</Location>
